 /* @import "tailwindcss"; */
/* @import "tw-animate-css";  */


@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);


    /* my define Colors */

  

    
    --light1:#F8FAFC;
    --light2:#DDE6ED;
    --light3:#EFF2F5;
    --light4:#EAECF0;
    --green1:#22886B;
    --green2:#DFFFEA;
    --green3:#46B987;
    --green4:#047857;
    --grey1:#6F807B;
    --grey2:#606C80;
    --grey3:#ECF0F4;
    --grey4:#FAFAFA;
    --grey5:#E2E8F0;
    --grey6:#FCFCFC;
    --grey7:#5F6369;
    --grey8:#202E2D;
    --dark1:#1C1C1C;
    --dark2:#1C1C1CB2;
    --dark3:#45556C;
    --dark4:#0A0A0A;
    --dark5:#101828;
    --dark6:#475467;
    --yellow1:#FFFFC9;
    --yellow2:#E8E86A;
    --yellow3:#A67931;
    --yellow4:#FDFFED;

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);






}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@font-face {
  font-family: "MyFont";
  src: url("/font/InstrumentSans-Variable.ttf") format("woff2-variations");
  font-weight: 100 900;     /* full range */
  font-style: normal;
  font-display: swap;
}


*{
  font-family: 'MyFont', sans-serif !important;
}

body{
  background-color: #F8FAFC !important;
}
.form-control{
  height: 26px;
  /* height: 32px; */
  border-radius: 8px;
  border: 1px solid #BFCAD252;
  background-color: #FCFCFC;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 400;
  font-size: 12px;
  color: black;
}

.btn-primary{
  background-color: #22886B;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  color:white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  &:hover{
  background-color: #1b6e57;

  }
}

.btn-secondary{
   background-color: white;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #22886B;
  cursor: pointer;
  color:#22886B;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  &:hover{
  background-color: #1b6e57;
  color:white;

  }
}

.btn-light{
     background-color: white;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #C8CED7;
  cursor: pointer;
  color:#1C1C1CB2;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  &:hover{
  background-color: #C8CED7;

  }
}

.hovInnerShadow:hover{
    box-shadow: 0px 2px 8px 0px #FFFFFF66 inset;
}
.nativeSelect{
  .w-fit{
    width: 100% !important;
  }
}

.border-gradient {
  border: 1px solid;
  border-image-source:
    linear-gradient(0deg, #373737, #373737),
    linear-gradient(0deg, #ABBBC2, #ABBBC2);
  border-image-slice: 1;
}


.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}


.overflow-x-auto::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #FFFFFF1F;
}

.overflow-x-auto::-webkit-scrollbar {
    width: 12px;
    background-color: #FFFFFF1F;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #FFFFFF40;
}



/* Hide the default Dialog close button */
button[data-dialog-close] {
  display: none !important;
}

.multiReactSelectContainer{

  .react-select__control--is-focused{
        background-color: #212224 !important;
  }

  .css-13cymwt-control{
    background-color: #212224 !important;
    box-shadow: 0px 1px 2px 0px #1018280D !important;
   border: 1px solid #373737 !important;
   border-radius: 8px !important;
  
  }
  .css-1p3m7a8-multiValue{
    background-color:#FFFFFF1A;
    border: 1px solid #FFFFFF3D;
    border-radius:8px !important;
    color:#FFFFFFB2;
    .css-9jq23d{
      color: #FFFFFFB2;
    }

    
  }


  .react-select__menu{
    background-color: #202224 !important;
  }
  .react-select__option{
    &:hover,&:focus-visible,&:focus{
       background-color: #323436 !important;
    }
  }

  .react-select__single-value{
    color: #fff !important;
  }
}
.react-select__option {
  background-color: transparent !important;
}
.react-select__option:hover {
  background-color: rgb(232, 232, 232) !important;
}

/* remove focus highlight */
.react-select__option:focus,
.react-select__option:focus-visible {
  background-color: transparent !important;
  outline: none !important;
}
.react-select__option--is-selected {
  /* background-color: #323436 !important; or transparent */
  color:black !important;   
  background-color: rgb(232, 232, 232) !important;

}
.react-select__indicator-separator{
  display: none;
}


.reactSingleSelect{
  .react-select__control{
    background-color: #FCFCFC;
    min-height: 26px !important;
    height: 26px !important;
    border-radius: 8px;
    border: 1px solid #BFCAD252;
    /* #FCFCFC */
  }
  .react-select__indicators{
    height: 26px !important;

  }

  .react-select__value-container{
     display: flex;
    align-items: start;
    color: red;
  }
  .react-select__single-value{
color:#9CA3AF;
font-size: 12px;
}

.react-select__placeholder{
  color:#9CA3AF;
font-size: 12px;
}

}



.currentClassAdd{
    background-color:#22886B !important;
  color:white !important;
}
.submitedClass{
  background-color:#DFFFEA !important;
  color:#166534 !important;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.leadReactSelectSetting {

  .react-select__control {
    background-color: #FCFCFC;
    min-height: 35px !important;
    height: 35px !important;
    border-radius: 8px;
    border: 1px solid #BFCAD252;
  }

  /* .react-select__indicators {
    height: 30px !important;
  } */

  .react-select__value-container {
    display: flex;
    align-items: center;
  }

  .react-select__single-value {
    color: #9CA3AF;
    font-size: 12px;
  }

  .react-select__placeholder {
    color: #9CA3AF;
    font-size: 12px;
  }

}



.filepond--credits{
  display: none !important;
}


.uploader-box-design{
.filepond--root{
    box-shadow: 0px 1px 2px 0px #1C1C1CB2;
  border: 1px dashed #1C1C1CB2;
  background-color: #F2F3F7;
  box-shadow: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden !important;
}

.filepond--drop-label{
  label{
    display: none !important;
  }
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  &:before{
    /* content: 'sss' !important;
        display: block;
    color: #5F6369;
    font-size: 14px;
    font-weight: 400;
    */
      content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("data:image/svg+xml;utf8,<svg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.5 10.5L10.5 6.5M10.5 6.5L6.5 10.5M10.5 6.5V15.7C10.5 17.0907 10.5 17.7861 11.0505 18.5646C11.4163 19.0819 12.4694 19.7203 13.0972 19.8054C14.0421 19.9334 14.4009 19.7462 15.1186 19.3719C18.3167 17.7036 20.5 14.3568 20.5 10.5C20.5 4.97715 16.0228 0.5 10.5 0.5C4.97715 0.5 0.5 4.97715 0.5 10.5C0.5 14.2014 2.51099 17.4331 5.5 19.1622' stroke='%231C1C1C' stroke-opacity='0.7' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-size: contain;
  } 
  &:after{
    content: "Drag & drop or click to upload files here.";
    display: block;
    color: #5F6369;
    font-size: 14px;
    font-weight: 400;
  }
}

}